#content {
    border: 2px black solid;
    width: 250px;
    height: 90%;
    margin-top: 10px;
}


.mainBox {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid black;
    height: 90%;
    width: 100%;
    text-align: center;
}

.predictionBox {
    padding: 5px;
    border: 1px solid black;
    height: 85%;
    width: 100%;
    text-align: center;
}

.menuBox {
    padding: 5px;
    border: 1px solid black;
    height: 10%;
    width: 100%;
    text-align: center;
}

.imageBox {
    padding: 5px;
    border: 1px solid black;
    height: 80%;
    width: 100%;
    text-align: center;
}


