
body{
  font-family: 'Lato', sans-serif;
}

#content {
  height: 100%;
  width: 100%;
  position:relative;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  background-color: hsl(100, 50%, 50%);
  border-radius: 10px;
  position: absolute;
  max-width: 500px;
  max-height: 800px;
}



/* login stuff */
.LPage {
  height: 180px;
  position: relative;
  width: 200px;
  text-align: center;
  transform: translateY(100%);
  margin:auto;
}

.LC {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.LC > input {
  width: 100%;
  text-align: center;
}

.logInput {
  margin-bottom: 10px;
}

#lbutton {
  height: 15px;
  border: none;
  background-color: transparent;
  background-image: url(/assets/img/glyphicon-ok.png);
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.button {
  height: 30px;
  border: none;
  background-color: transparent;
  background-position: 5;
  width: 45px;
  background-size: contain;
  background-repeat: no-repeat;
}

.add_button {
  float: right;
  background-image: url(/assets/img/glyphicon-plus.png);
}

.delete_button {
  float: left;
  background-image: url(/assets/img/glyphicon-circle-remove.png);
}

.backButton {
  margin-top: 10px;
  position: relative;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  background-image: url("/assets/img/glyphicon-left.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}

.mainBox {
    margin-top: 5px;
    border-radius: 10px;
    height: 90%;
    width: 100%;
    text-align: center;
}

.predictionBox {
    height: 82%;
    width: 100%;
    text-align: center;

}

.menuBox {
    display: block;
    position: relative;
    width: 100%;
    font-weight: bold;
    text-align: center;
    bottom: 10px;
    position: absolute;
}



.predictionImg{
    width: 100%;
    height: 400px;
    cursor: hand;
    position: absolute;
    left: 0px;
}

.imageBox {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.subForm {
  display: block;
  margin: auto;
}

.subText {
  display: block;
  margin: auto ;
  margin-top: 3%;
  border: 1px solid lightblue;
  border-radius: 2px;
  height: 6%;
  width: 80%;
  font-size: medium;
}

.subURL {
  display: block;
  margin: auto;
  margin-top: 15%;
  border: 1px solid lightblue;
  border-radius: 2px;
  height: 6%;
  width: 80%;
  font-size: medium;

}

.subCategory {
  display: block;
  margin: auto;
  margin-top: 15%;
  border: 1px solid lightblue;
  border-radius: 2px;
  height: 6%;
  width: 80%;
  font-size: medium;

}

.subButton {
  display: block;
  margin: auto;
  margin-top: 15%;
  border: 1px solid lightblue;
  border-radius: 2px;
  background-color: whitesmoke;
  height: 6%;
  width: 60%;
  font-size: medium;
}


.yes_stamp{
  left: 42%;
  padding: 5px;
  margin-top: 30px;
  z-index: 1000;
  position: absolute;
  border: 5px solid green;
  border-radius: 5px;
  color: green;
  font-size: 50px;
  font-weight: bold;
  opacity: 0;
}

.no_stamp{
  left: 42%;
  padding: 5px;
  margin-top: 30px;
  z-index: 1000;
  position: absolute;
  border: 5px solid red;
  font-size: 50px;
  font-weight: bold;
  border-radius: 5px;
  color: red;
  opacity: 0;
}

.visible{
  opacity: 1;
}


.textBox{
  height: 60px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
   vertical-align: middle;
  padding-top: 11px;
}


#container {
  width: 500px;
  margin: auto !important;
  display: block;
  height: 500px;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.buddy {
  display: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;
  padding: 20px;
  width: 360px;
  height: 360px;
  top: 50px;
  left: 50px;
  position: absolute;
  cursor: hand;
}
.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
}
.avatar {
  background: #222;
  width: 340px;
  height: 340px;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  background-size: 100% auto !important;
  background-position: center;
 background-repeat: no-repeat;
}

.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}


.imageBox {
    display: block;
    position: relative;
    width: 100%;
    height: 81%;
    text-align: center;
}


.swipe-leave{
    display:none;
}

.swipe-left {
  transform: rotate(5deg) scale(0.8) translate(-400px,0);
  -webkit-transform: rotate(5deg) scale(0.8) translate(-400px,0);
  opacity: 0;
  transition: 1.5s;
}


.imgText{
    position: absolute;
}

.swipe-right {
  transform: rotate(-5deg) scale(0.8) translate(400px,0);
  -webkit-transform: rotate(-5deg) scale(0.8) translate(400px,0);

  opacity: 0;

  transition: 1.5s;
}

.swipe-enter {
  opacity: 0.01;
transition: opacity .5s ease-in;
}

.swipe-enter.swipe-enter-active {
  opacity: 1;
}

/* Spinner stuff */

.spin-holder {
  margin: auto;
  width: 300px;
  height: 80px;
  overflow: hidden;
  background-color: black;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  position: relative;
}

.hider {
  background-color: hsl(100, 50%, 50%);
  height: 100%;
  width: 25%;
}

.hider-left {
  float: left;
  z-index: 10000;
}

.hider-right {
  float:right;
  z-index: 10000;
}

.spinner-enter {
  position: absolute;
  right: 0;
}

.spinner-enter.spinner-enter-active {
  transition: 1s ease-in-out;
  transform: translate(-100px, 0);
}

.spinner-leave {
  positon: absolute;
}

.spinner-leave.spinner-leave-active {
  transition: 1s ease-in-out;
  transform: translate(-100px, 0);
}

.spin-holder > span> div: {
  width: 50%;
  height: 100%;
  display: inline-block;
  color: white;
  font-size: 35px;
};

/* alert box */

.close-image {
  float: right;
  width: 11px;
  height: 10px;
  top: 0;
}

.alert-button {
  padding-right: 2px;
  right: 0;
  width: auto;
  height: auto;
}

#alert-span {
  display: inline-block;
  line-height: 20px;
}

.alertBox {
  position: fixed;
  z-index: 1000000;
  margin: auto;
  left: 24%;
}

.red {
  background-color: hsla(337, 61%, 46%, 0.6);
}

.blue {
  background-color: hsla(100, 61%, 46%, 0.6);
}