/* Structure */
html {
	font-family: "Orbitron", sans-serif;
}

.spinnerHolder,
.sectionHolder {
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

.sectionHolder,
.spinnerHolder {
	width: 500px;
}

.sectionHeader {
	box-shadow:  0px 2px 1px 1px black;;
	margin-bottom: 0px;
}

.sectionBody {
	width: 400px;
	margin: auto;
	height: 200px;
	box-shadow:  0px 2px 1px 1px black;;
	background-color: white;
}

h1 {
	margin-top:10px;
	margin-bottom:10px;
	color: white;
	display: inline-block;
	padding-left:5px;
	padding-right:5px;
}

h3,
h5 {
	margin-top: 0px;
	margin: auto;
}

h3 {
	margin-bottom: 3px;
}
h5 {
	margin-bottom: 0px;
}


.sectionBinary {
	height: 80%;
	width: 199px;
	display: inline-block;
}

.sectionUnary {
	height: 80%;
	width: 400px;
	display: inline-block;
}

.sectionLeft {
	float: left;
	border-right: 1px solid black;
}

.sectionRight {
	float: right;
}

.sectionCenter {
	text-align: center;
}

.sectionSingle {
	float: left;
}



/* Topic-based Css */
.topicName {
	margin: auto;
	width: 300px;
	box-shadow: -1px 0px 2px 1px black;
	padding-top: 5px;
	color: white;
}

.boxing > .sectionHeader,
.boxing > .hider {
	background-color: hsla(240, 80%, 20%, 1);
}

.boxing > .sectionBody > .topicName {
	background-color: hsla(240, 80%, 30%, 1);
}

.football > .sectionHeader,
.football > .hider {
	background-color: hsla(349, 86%, 40%, 1);
}

.football > .sectionBody > .topicName {
	background-color: hsla(349, 86%, 50%, 1);
}

.esports > .sectionHeader,
.esports > .hider {
	background-color: hsla(51, 100%, 40%, 1);
}

.esports > .sectionBody > .topicName {
	background-color: hsla(51, 100%, 50%, 1);
}

.m8s > .sectionHeader,
.m8s > .hider {
	background-color: hsla(170, 86%, 40%, 1);
}

.m8s > .sectionBody > .topicName {
	background-color: hsla(170, 86%, 50%, 1);
}



/* Buttons */
.switcher,
.switcher:active,
.switcher:focus {
	background-color: transparent;
	border: none;
	outline: none;
	display: inline-block;
	vertical-align: bottom;
	color: transparent;
	height: 50px;
	width: 20px;
	background-repeat: space;
	margin-top: 5px;
}

.left {
	float: left;
	background-image: url("/assets/img/glyphicon-left-arrow.png");
}

.right {
	float: right;
	background-image: url("/assets/img/glyphicon-right-arrow.png");

}

.dropdown {
	float:center;
}

/* Spinner css */
.spinner {
	height: 60px;
	width: 350px;
	margin: auto;
}
.spinnerHolder {
	background-color: transparent;
}

.spinnerBlock {
	background-color: black;
	height: 60%;
	position: relative;
	top: 20%;
	overflow: hidden;
}

.spinnerBlock > div { 
  height: 100%; 
}

.hider {
	height: 100%;
	position: absolute;
	z-index: 10000;
	width: 70px;
}

.hider-left {
	left: 0;
	box-shadow: 0px 0px 4px 0px;
}

.hider-right {
	right: 0;
	box-shadow: 2px 0px 4px 3px;
}

.flyer {
	height: 100%;
	position: absolute;
	width: 210px;
	left: 70px;
	font-size: 30px;
	padding-top: 4px;
	color: white;
}

/* Spinner Animation */
.spinMe-enter {
	transition-delay: 1s;
  	left: -140px;
}

.spinMe-enter.spinMe-enter-active {
  	transform: translate(210px, 0); 
  	transition: 1s ease-in-out;
}

.spinMe-leave {
  
}

.spinMe-leave.spinMe-leave-active {
	transform: translate(210px, 0); 
	transition: 1s ease-in-out;
}

/* Form css */
#predictionCreator {
	padding-top: 20px;
}

/*Leaderboard css*/
.leaderitem {
	padding-top: 10px;
	border-bottom: 1px solid;
	border-bottom-color: rgba(40, 48, 65, 0.29);
	height: 10%;
}

.leadername {
	width:200px;
	float:left;
}

.leaderpoint {
	width:200px;
}

/* top navbar */
.navbar {
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	top: 0;
	width: 580px;
	text-align: center;
}

.dropdown {
	height: 100px;
	margin-top: -80px;
	background-color: white;
	width: 250px;
	top: -5;
	text-align: center;
	box-shadow: 0px 2px 1px 1px;
	display:inline-block;
}

.optionPanel {
	height:80px;
}

.puller {
	background-image: url("/assets/img/glyphicon-down-arrow.png");
	width: 18px;
	height: 20px;
	border: none;
	background-color: transparent;
}